$color1:#e8e8e8;
$font1:'montserrat',sans-serif;
$font2:'Lato', sans-serif;


.split {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 37%;
    padding-top: 20px;
  }

.left {
    left: 0;
    background-color:transparent;
}

.right {
    right: 0;
    background-color:transparent;
}

.data p

{
    color:$color1;
    font-family: $font2;
    font-size:30px;
    margin-left:10%;
}

.scrollspy h4{
    color:$color1;
    font-family:$font1;
}

.scrollspy p{
    color:$color1;
    font-family: $font2;
}

h3{
    color:$color1;
    font-family: $font2;
    font-size:10px;
}

h6{
    color:$color1;
    font-family: $font2;
    font-size:10px;
}
.rate
{
    border-radius: 10px;
    background:black;
    color:$color1;
    font-size: 1vw;
      
}
textarea{
    border-radius: 10px;
    background:black;
    color:$color1;
    font-size: 1vw;
}

.postblock
{
    margin-left:1%;
}

.buttons.bookonly{
    margin-left: 1%;
}

