{% extends "layout.html" %}

{% block title %}
Project1 - home
{% endblock %}


{% block head %}
{% endblock %}

{% block body %}
<br><br><br><br><br><br><br><br><br><br><br>
<h1 class = "bighead">Project1, A library project</h1>
<h2 class = "subhead">Search the book, give a rating, and leave a review.</h2>
<br>
<div>
    <form action = "{{url_for('login')}}">
    <input type="submit" name ="login" class = "buttons" value = "Log in">
    <input type="submit" name ="register" class = "buttons" value = "Register">

</form>

</div>
{% endblock %}