{% extends "layout.html" %}

{% block title %}
Project1 - Search Results
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/stylesheets/searchome.css">
{% endblock %}

{% block body %}
<form action="{{url_for('logout')}}">
    <input type="submit" class="logout" value="Log out">
</form>
<br><br><br>

<h1 class = "headtext">Project1</h1>
<br>
<h2 class = "subtext">Search the book, give a rating, and leave a review.</h2>

<form method = "POST">
    <input type="text" class = "searchbar2" name = "search" placeholder="Enter Title, ISBN or Author name">
    <input onclick="action='{{ url_for( 'search')}}' " type="submit" name ="search" class = "buttons centering" value = "Search">
    
    
    
    
</form>
<br>
<div class = "booklist">
    {% for eachbook , eachisbn in results %}
        <div>
        <li><a class = "link" href = "{{url_for('book',isbn=eachisbn)}}">{{eachbook}}</a></li>
        </div>
    {% endfor %}
</div>
{% endblock %}